@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jshree's...</h1>
    <p>Your occasion, Our celebration</p>
    <br />
    <p>Book your event now!!</p>
</div>
